.anger {
    -rtfx-background-color: #FF6060;
}
.disgust {
    -rtfx-background-color: #60FF60;
}
.fear {
    -rtfx-background-color: #FFA0FF;
}
.joy {
    -rtfx-background-color: #FFFF80;
}
.sadness {
    -rtfx-background-color: #6060FF;
}
.analytical {
    -rtfx-background-color: #00FF00;
}
.confident {
    -rtfx-background-color: #FF0000;
}
.tentative {
    -rtfx-background-color: #0000FF;
}

.neutral {
    -rtfx-background-color: none;
}

.angerBox {
    -fx-fill: #FF6060;
}
.disgustBox {
    -fx-fill: #60FF60;
}
.fearBox {
    -fx-fill: #FFA0FF;
}
.joyBox {
    -fx-fill: #FFFF80;
}
.sadnessBox {
    -fx-fill: #6060FF;
}
.analyticalBox {
    -fx-fill: #00FF00;
}
.confidentBox {
    -fx-fill: #FF0000;
}
.tentativeBox {
    -fx-fill: #0000FF;
}

.popup {
    -fx-bsckground-color: black;
    -fx-text-fill: white;
}