.anger {
    -rtfx-background-color: #ee5158;
}
.disgust {
    -rtfx-background-color: #97e077;
}
.fear {
    -rtfx-background-color: #ffccfb;
}
.joy {
    -rtfx-background-color: #decb38;
}
.sadness {
    -rtfx-background-color: #9ca1d9;
}
.analytical {
    -rtfx-background-color: #6ae294;
}
.confident {
    -rtfx-background-color: #eb8725;
}
.tentative {
    -rtfx-background-color: #6ddad7;
}

.neutral {
    -rtfx-background-color: none;
}

.angerBox {
    -fx-fill: #ee5158;
}
.disgustBox {
    -fx-fill: #97e077;
}
.fearBox {
    -fx-fill: #ffccfb;
}
.joyBox {
    -fx-fill: #decb38;
}
.sadnessBox {
    -fx-fill: #9ca1d9;
}
.analyticalBox {
    -fx-fill: #6ae294;
}
.confidentBox {
    -fx-fill: #eb8725;
}
.tentativeBox {
    -fx-fill: #6ddad7;
}

.popup {
    -fx-bsckground-color: black;
    -fx-text-fill: white;
}